<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Headlines from BBC News</title>

</head>
<script>
    //get the titles from node.js
    var title0 = "<%= title0 %>";
    var title1 = "<%= title1 %>";
    var title2 = "<%= title2 %>";
    var title3 = "<%= title3 %>";
    var title4 = "<%= title4 %>";
</script>
<body>
<h1>Top Headlines from BBC News</h1>
<h2><%= title0 %> </h2>
<h2><%= title1 %> </h2>
<h2><%= title2 %> </h2>
<h2><%= title3 %> </h2>
<h2><%= title4 %> </h2>
</body>

</html>